<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/Puclic/CSS/all.css">
    <link rel="stylesheet" href="/Puclic/CSS/w3.css">
  </head>
  <body>
    <div id="signup-container" class="w3-display-middle">
      <h1>Registro de usuarios</h1>
      <div class="inner-container">
        <label for="name">Nombre</label><br>
        <input type="text" id="name" class="signup-input"><br>
      </div>
      <div class="inner-container">
        <label for="lastname">Apellido</label><br>
        <input type="text" id="lastname" class="signup-input"><br>
      </div>
      <div class="inner-container">
        <label for="mail">Correo</label><br>
        <input type="text" id="mail" class="signup-input"><br>
      </div>
      <div class="inner-container">
        <label for="password">Contraseña</label><br>
        <input type="text" id="password" class="signup-input"><br>
      </div>
      <button onclick="createUser()" class="signup-input w3-button w3-round-large" id="signup-button">Crear usuario</button>
    </div>
  </body>
  <script src="/Puclic/JS/crypto-js.min.js"></script>
  <script>
    class Node{
      constructor(name,lastname,mail,password){
        this.name=name;
        this.lastname=lastname;
        this.mail=mail;
        this.password=password;
        this.testday=null;
        this.prevresults=null;
        this.next=null;
      }
    }
    class SinglyList{
      constructor(){
        this.head=JSON.parse(localStorage.getItem('accesskeys'));
        this.pointer=null;
      }
      append(name,lastname,mail,password){
        const user=new Node(name,lastname,mail,password);
        if(this.head){
          this.pointer=this.head;
          if(this.pointer.mail==mail){
            return alert("El usuario ya fue registrado");
          }
          while(this.pointer.next){
            if(this.pointer.mail==mail){
              return alert("El usuario ya fue registrado");
            }
            this.pointer=this.pointer.next;
          }
          this.pointer.next=user;
        }else{
          this.head=user;
        }
        localStorage.setItem('accesskeys', JSON.stringify(this.head));
      }
    }
    const list=new SinglyList();
    function createUser(){
      list.append(document.getElementById("name").value,document.getElementById("lastname").value,document.getElementById("mail").value,CryptoJS.SHA256(document.getElementById("password").value).toString(CryptoJS.enc.Hex));
      /*
      ruta flask
      */
      location.replace("/");
    }
  </script>
</html>
